<a href="https://www.kaggle.com/code/skyelermcq/jeopardy-generator?scriptVersionId=100129500" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [1]:
#loading packages 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from google.cloud import bigquery # to do bigsql
from pandasql import sqldf #this is for doing sql 
from random import randint #to do random integers
from IPython.display import HTML #so I can download as a csv
import csv #so I can download as a csv
import base64 #so I can download as a csv
import io #writing csv to string
 

import os
pd.options.display.max_rows = 4000 #so I can print long df

In [2]:
# Reading the CSV file and saving as jeopardydb
pd.read_csv('/kaggle/input/200000-jeopardy-questions/JEOPARDY_CSV.csv', header='infer', keep_default_na=True, skip_blank_lines=True)
jeopardydb = pd.read_csv('/kaggle/input/200000-jeopardy-questions/JEOPARDY_CSV.csv', header='infer', keep_default_na=True, skip_blank_lines=True)

In [3]:


mysql = lambda q: sqldf(q, globals())

#This query gets all the single jeopardy categories
query1 = """ SELECT DISTINCT [ Category]
            FROM
                jeopardydb
            WHERE [ Round]='Jeopardy!';
"""

In [4]:


#This query gets all the double jeopardy categories
query2 = """ SELECT DISTINCT [ Category]
            FROM
                jeopardydb
            WHERE [ Round]='Double Jeopardy!';
"""

In [5]:
mysql = lambda q: sqldf(q, globals())

#This query gets all the final jeopardy categories
queryf = """ SELECT DISTINCT [ Category]
            FROM
                jeopardydb
                WHERE
            [ Round]='Final Jeopardy!';
"""

In [6]:
#So, we need five categories of single jeopardy

#initialize data frame
categ=mysql(query1) #gets a single jeopardy category
category = categ.loc[randint(0,categ.size)]
query = "SELECT * FROM jeopardydb WHERE [ Category]='"+category[0].replace(r"'", r"''")+"' AND [ Round]='Jeopardy!' LIMIT 5;"
jeoptable = mysql(query)

for i in range(4):    
    temptable = pd.DataFrame() #initialize dataframe
    while len(temptable)<5:
        categ=mysql(query1) #gets a single jeopardy category
        category = categ.loc[randint(0,categ.size)]
        query = "SELECT * FROM jeopardydb WHERE [ Category]='"+category[0].replace(r"'", r"''")+"' AND [ Round]='Jeopardy!' LIMIT 5;"
        temptable = mysql(query)
    temptable = temptable.rename(index=(lambda x : x + 5*(i+1)))
    jeoptable = jeoptable.append(temptable)
    
for i in range(5): 
    temptable = pd.DataFrame() #initialize dataframe
    while len(temptable)<5:
        categ=mysql(query2) #gets a double jeopardy category
        category = categ.loc[randint(0,categ.size)]
        query = "SELECT * FROM jeopardydb WHERE [ Category]='"+category[0].replace(r"'", r"''")+"' AND [ Round]='Double Jeopardy!' LIMIT 5;"
        temptable = mysql(query)
    temptable = temptable.rename(index=(lambda x : 25 + x + 5*i))
    jeoptable = jeoptable.append(temptable)
    

categ=mysql(queryf) #gets a final jeopardy category
category = categ.loc[randint(0,categ.size)]
query = "SELECT * FROM jeopardydb WHERE [ Category]='"+category[0].replace(r"'", r"''")+"' AND [ Round]='Final Jeopardy!' LIMIT 1;"
temptable = mysql(query)
temptable = temptable.rename(index=(lambda x : 50 + x))
jeoptable = jeoptable.append(temptable)
    
print(jeoptable)

    Show Number    Air Date             Round                       Category  \
0          3484  1999-10-28         Jeopardy!                   MOVIE SERIES
1          3484  1999-10-28         Jeopardy!                   MOVIE SERIES
2          3484  1999-10-28         Jeopardy!                   MOVIE SERIES
3          3484  1999-10-28         Jeopardy!                   MOVIE SERIES
4          3484  1999-10-28         Jeopardy!                   MOVIE SERIES
5          5857  2010-02-16         Jeopardy!               SEWARD'S FOLLIES
6          5857  2010-02-16         Jeopardy!               SEWARD'S FOLLIES
7          5857  2010-02-16         Jeopardy!               SEWARD'S FOLLIES
8          5857  2010-02-16         Jeopardy!               SEWARD'S FOLLIES
9          5857  2010-02-16         Jeopardy!               SEWARD'S FOLLIES
10         5826  2010-01-04         Jeopardy!                     RHETT-ORIC
11         5826  2010-01-04         Jeopardy!                     RHETT-ORIC
12         5826  2010-01-04         Jeopardy!                     RHETT-ORIC
13         5826  2010-01-04         Jeopardy!                     RHETT-ORIC
14         5826  2010-01-04         Jeopardy!                     RHETT-ORIC
15         5601  2009-01-05         Jeopardy!        THE BATTLE OF THE SEXES
16         5601  2009-01-05         Jeopardy!        THE BATTLE OF THE SEXES
17         5601  2009-01-05         Jeopardy!        THE BATTLE OF THE SEXES
18         5601  2009-01-05         Jeopardy!        THE BATTLE OF THE SEXES
19         5601  2009-01-05         Jeopardy!        THE BATTLE OF THE SEXES
20         5328  2007-11-07         Jeopardy!                THE "L" YOU SAY
21         5328  2007-11-07         Jeopardy!                THE "L" YOU SAY
22         5328  2007-11-07         Jeopardy!                THE "L" YOU SAY
23         5328  2007-11-07         Jeopardy!                THE "L" YOU SAY
24         5328  2007-11-07         Jeopardy!                THE "L" YOU SAY
25         5169  2007-02-15  Double Jeopardy!  LET'S CHECK OUT SOME COLLEGES
26         5169  2007-02-15  Double Jeopardy!  LET'S CHECK OUT SOME COLLEGES
27         5169  2007-02-15  Double Jeopardy!  LET'S CHECK OUT SOME COLLEGES
28         5169  2007-02-15  Double Jeopardy!  LET'S CHECK OUT SOME COLLEGES
29         5169  2007-02-15  Double Jeopardy!  LET'S CHECK OUT SOME COLLEGES
30           65  1984-12-07  Double Jeopardy!                       ODD JOBS
31           65  1984-12-07  Double Jeopardy!                       ODD JOBS
32           65  1984-12-07  Double Jeopardy!                       ODD JOBS
33           65  1984-12-07  Double Jeopardy!                       ODD JOBS
34           65  1984-12-07  Double Jeopardy!                       ODD JOBS
35         5955  2010-07-02  Double Jeopardy!                          PIZZA
36         5955  2010-07-02  Double Jeopardy!                          PIZZA
37         5955  2010-07-02  Double Jeopardy!                          PIZZA
38         5955  2010-07-02  Double Jeopardy!                          PIZZA
39         5955  2010-07-02  Double Jeopardy!                          PIZZA
40         5369  2008-01-03  Double Jeopardy!              THE BRITISH WILES
41         5369  2008-01-03  Double Jeopardy!              THE BRITISH WILES
42         5369  2008-01-03  Double Jeopardy!              THE BRITISH WILES
43         5369  2008-01-03  Double Jeopardy!              THE BRITISH WILES
44         5369  2008-01-03  Double Jeopardy!              THE BRITISH WILES
45         3525  1999-12-24  Double Jeopardy!             AUTHORS' PEN NAMES
46         3525  1999-12-24  Double Jeopardy!             AUTHORS' PEN NAMES
47         3525  1999-12-24  Double Jeopardy!             AUTHORS' PEN NAMES
48         3525  1999-12-24  Double Jeopardy!             AUTHORS' PEN NAMES
49         3525  1999-12-24  Double Jeopardy!             AUTHORS' PEN NAMES
50         5693  2009-05-13   Final Jeopardy!          THE HISTORY OF FLIGHT

     Value                                           Question  \
0     $100  John Gavin was signed to play him in "Diamonds...
1     $200  Films in this series include "Dream Warriors",...
2     $300  In a series of 14 films in the 1930s & 1940s N...
3     $400  William Boyd was 40 when he began playing this...
4     $500   Occupation of Andy Hardy's long-suffering father
5     $200  In 1867 William Seward negotiated the purchase...
6     $400  Seward was elected to the Senate in 1848 as a ...
7     $600  Devout abolitionists, Seward & his wife shelte...
8     $800  Seward served both Lincoln & Johnson in this c...
9    $1000  Before his time on the national stage, Seward ...
10    $200  Rhett Butler tells a weeping Scarlett, "Never ...
11    $400  On honeymoon Rhett says, "Forget about Atlanta...
12    $600  Skeptical of the South's chances, Rhett notes ...
13  $2,000  The movie added this adverb to Rhett's famous ...
14   $1000  Rhett: "You've turned me out while you chased"...
15    $200  Hembrismo has been used as the feminine counte...
16    $400  Spear refers to the male side of the family & ...
17    $600  A motto on the Great Seal of Maryland says in ...
18    $800  Completes the rhyming proverb "Man may work fr...
19   $1000  From the Latin for "woman" & "man" come the wo...
20    $200  Mersey me!  World Book's article on this city ...
21    $400  It's home to Gregor Erhart's statue of Mary Ma...
22    $600             It's a tasty slang term for a clarinet
23    $800  Legend says that gods dropped rocks from the s...
24   $1000  From the Latin for "ghastly", this adjective d...
25    $400  Check out the LBJ Library and the J.J. Pickle ...
26    $800  This Ivy Leaguer seems nice... near the Charle...
27   $1200  This Ivy Leaguer seems nice... New Haven in th...
28  $4,800  Founded by French missionaries in 1842, this I...
29   $2000  Your mom's been "badger"-ing me to take you to...
30    $200  Lowest member of a movie crew whose job is to ...
31    $400    For 10% of the bail, he'll spring you from jail
32    $600                 He raises penmanship to a fine art
33    $800  Horse racing fixtures the British call "turf a...
34   $1000                              What a fletcher makes
35    $400  Sal's famous pizzeria is a focal point of this...
36    $800  "Cold Pizza" was a morning show that debuted i...
37   $1200  Scar-Jo's hubby, he was one of the title "guys...
38   $1600  This TV show centers on Fry, a pizza boy who w...
39   $2000  Early in her career Julia Roberts played Daisy...
40    $400  In 1764 the Royal & Ancient Club at St. Andrew...
41    $800  Title given the person who presides over the g...
42   $1200  "Hark!  The Herald Angels Sing!" is one of the...
43   $1600  When at home, the Welsh National Opera perform...
44   $2000  This surgeon at St. George's hospital drew on ...
45    $200                    Karen Christence Blixen-Finecke
46    $400                          David John Moore Cornwell
47    $600                           Charles Lutwidge Dodgson
48    $800                              William Sydney Porter
49   $1000                   Frederic Dannay & Manfred B. Lee
50    None  In 1784 these 2 future presidents saw an early...

                                             Answer
0                                        James Bond
1                           Nightmare on Elm Street
2                                Sir Basil Rathbone
3                                  Hopalong Cassidy
4                                             Judge
5                                            Russia
6                                         the Whigs
7                          the underground railroad
8                                Secretary of State
9                                          New York
10                       a hankie (or handkerchief)
11                                      New Orleans
12                             the Mason-Dixon Line
13                                          frankly
14                                    Ashley Wilkes
15                                         machismo
16                                          distaff
17                                            deeds
18                 But a woman's work is never done
19                                         virility
20                                        Liverpool
21                                       the Louvre
22                                 a licorice stick
23                                            Lanai
24                                            lurid
25                              University of Texas
26                               Harvard University
27                                  Yale University
28                         University of Notre Dame
29                          University of Wisconsin
30  a gofer (or a runner or a production assistant)
31                                  a bail bondsman
32                                   a calligrapher
33                                          bookies
34                                           arrows
35                               Do The Right Thing
36                                             ESPN
37                                    Ryan Reynolds
38                                         Futurama
39                                     Mystic Pizza
40                                       golf holes
41                                       Lord Mayor
42                                    (John) Wesley
43                                          Cardiff
44                                     (Henry) Gray
45                                     Isak Dinesen
46                                    John le Carre
47                                    Lewis Carroll
48                                         O. Henry
49                                     Ellery Queen
50                    John Adams & Thomas Jefferson

In [7]:
#Now I will download to CSV

def use_mtxtemplate(df):
    output = io.StringIO()
    writer = csv.writer(output)
    
    #write blank lines
    for i in range(6):
        writer.writerow(['']*7) 
        
    writer.writerow(['',"CATEGORIES:"]+[df.at[i*5, ' Category'] for i in range(5)])
    writer.writerow(['200',"Clue"]+[df.at[i*5, ' Question'] for i in range(5)])
    writer.writerow(['',"Response"]+[df.at[i*5, ' Answer'] for i in range(5)])
    
    writer.writerow(['400',"Clue"]+[df.at[i*5+1, ' Question'] for i in range(5)])
    writer.writerow(['',"Response"]+[df.at[i*5+1, ' Answer'] for i in range(5)])
    
    writer.writerow(['600',"Clue"]+[df.at[i*5+2, ' Question'] for i in range(5)])
    writer.writerow(['',"Response"]+[df.at[i*5+2, ' Answer'] for i in range(5)])
    
    writer.writerow(['800',"Clue"]+[df.at[i*5+3, ' Question'] for i in range(5)])
    writer.writerow(['',"Response"]+[df.at[i*5+3, ' Answer'] for i in range(5)])
    
    writer.writerow(['1000',"Clue"]+[df.at[i*5+4, ' Question'] for i in range(5)])
    writer.writerow(['',"Response"]+[df.at[i*5+4, ' Answer'] for i in range(5)])
    
    #write blank lines
    for i in range(5):
        writer.writerow(['']*7) 
    
    writer.writerow(['',"CATEGORIES:"]+[df.at[i*5+25, ' Category'] for i in range(5)])
    writer.writerow(['200',"Clue"]+[df.at[i*5+25, ' Question'] for i in range(5)])
    writer.writerow(['',"Response"]+[df.at[i*5+25, ' Answer'] for i in range(5)])
    
    writer.writerow(['400',"Clue"]+[df.at[i*5+26, ' Question'] for i in range(5)])
    writer.writerow(['',"Response"]+[df.at[i*5+26, ' Answer'] for i in range(5)])
    
    writer.writerow(['600',"Clue"]+[df.at[i*5+27, ' Question'] for i in range(5)])
    writer.writerow(['',"Response"]+[df.at[i*5+27, ' Answer'] for i in range(5)])
    
    writer.writerow(['800',"Clue"]+[df.at[i*5+28, ' Question'] for i in range(5)])
    writer.writerow(['',"Response"]+[df.at[i*5+28, ' Answer'] for i in range(5)])
    
    writer.writerow(['1000',"Clue"]+[df.at[i*5+29, ' Question'] for i in range(5)])
    writer.writerow(['',"Response"]+[df.at[i*5+29, ' Answer'] for i in range(5)])
    
    #write blank lines
    for i in range(5):
        writer.writerow(['']*7) 
        
    writer.writerow(['Category:',df.at[50,' Category'],'','','','',''])
    writer.writerow(['Clue:',df.at[50,' Question'],'','','','',''])
    writer.writerow(['Prefix:','Who/what/when/where is','','','','',''])
    writer.writerow(['Response:',df.at[50,' Answer'],'','','','',''])

    return output.getvalue()

def create_download_link(df, title = "Download CSV file", filename = "data.csv"):  
    csv = use_mtxtemplate(df) #make our cute function to use Michael's template
    b64 = base64.b64encode(csv.encode())
    payload = b64.decode()
    html = '<a download="{filename}" href="data:text/csv;base64,{payload}" target="_blank">{title}</a>'
    html = html.format(payload=payload,title=title,filename=filename)
    return HTML(html)

create_download_link(jeoptable,"Jeopardy Table","forMichael.csv")